<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
</head>
<body>
        @if (!String.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-danger" role="alert">
                <div class="container">
                    @ViewBag.Message
                </div>
            </div>
        }
    <div class="container">
        @RenderBody()
    </div>
    <script>
        var objDiv = document.getElementById("msgBox");
        objDiv.scrollTop = objDiv.scrollHeight;
    </script>
</body>
</html>
